*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:none;
  outline:none;
}

html{
  --main-text-color:#012941;
  --light-green:#CEEB9F;
  --dark-green:#05A48F;
  --light-grey:#F2F2F2;
  font-size: 10px;
}

a{
  text-decoration: none;
  color:var(--main-text-color);
}

/*  ------------------------  Header ----------------------- */

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: var(--light-grey);
  justify-content: flex-start;
}

.logo{
  width: 12rem;
  height: 4.5rem;
  background-image:url('./Assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 4rem 0 2rem;

}
.navBtn{
  display: flex;
  height: 5rem;
  align-items: center;
  margin:1rem;
  text-decoration: none;
  color:var(--main-text-color);
  font-size: 1.5rem;
}

.navBtn:hover{
  border-bottom: 2px solid var(--dark-green);
  font-weight: bold;
}

/*  -------------------------- HomePage ------------------*/

.homePageMainGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*  -------------------------- Category Card ------------------*/

.categoryCard{
  cursor: pointer;
  margin:2rem;
  width:100%;
  /* height: 40rem; */
}

.categoryCardImg{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width:100%;
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#breakfastImg{
  width: 60rem;
  height:50rem;
}

.categoryCardText{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  line-height: 6rem;
  height: 6rem;
  padding: 0 1rem;
  opacity: 0.7;
  width:100%;
  transition-property: height;
  transition-duration: 1s;
}

.categoryCardTextGrid{
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 2rem;
  grid-template-columns: repeat(3,auto);
  grid-auto-rows: 3rem;
  grid-row: wrap;
  list-style: none;
  background-color: white;
  opacity: 0.8;
  word-wrap: break-word;
}

#breakfastImg .categoryCardImg{
  width:60rem;
  height: 50rem;
  background-image:url('./Assets/breakfast.jpeg') ;
}



/*  -------------------------- RecipesPage ------------------*/
.searchDiv{
  height: 15rem;
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 35%;
  height: 5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
}

::placeholder {
 opacity: 0.5;
}

.searchBtn{
  height: 5rem;
  width: 5rem;
  background-color:var(--dark-green);
  color:white;
}

.fa-search{
  cursor: pointer;
  font-size: 2rem;
}

.categoryGrid{
  margin:auto;
  width:80vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:2rem;
}

.searchStateBtnDiv{
  width:max-content;
  margin:0 auto;
}

.searchStateBtn{
  font-size: 2rem;
  background-color: transparent;
  margin:2rem;
  cursor: pointer;
}

.currentState{
  border-bottom: 2px solid var(--dark-green);
  font-weight: bold;
}

/*  -------------------------- searchResultCard Component ------------------*/
.searchResultCard{
  margin:2rem;
  /* width: 30rem; */
  width: 100%;
  height: 35rem;
}

.searchResultCardImg{
  /* width:30rem; */
  width: 100%;
  height:30rem;
  max-height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.searchResultCardTitle{
  margin:1.5rem 0;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/*  -------------------------- RecipesList Component ------------------*/
.recipesGrid{
  display: grid;
  width: 80vw;
  margin: 5rem auto;
  gap:3rem;
  grid-template-columns: repeat(3,1fr);
}

/*  -------------------------- Recipe Component ------------------*/

.recipe{
  width:80vw;
  margin: 2rem auto;
}

.recipeImg{
  width:70vw;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipeHero{
  display: flex;
}

.recipeHeroText{
  margin:auto ;
  padding:3rem;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeTitle{
  font-size: 2.5rem;
  text-align: center;
}

.recipeSummary{
  font-size: 1.5rem;
  text-align: center;
  margin:3rem 0;
}
.recipeInstructionsTitle{
  margin: 1rem 0;
}

.recipeInstructions{
  font-size: 1.5rem;
}

.fa-stopwatch, .fa-utensils{
  font-size: 2rem;
  color:var(--dark-green);
}

.recipe span{
  font-size:1.5
}