*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html{
  font-size: 10px;
}

/*  ------------------------  Header ----------------------- */

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: #F2F2F2;
}

.navBtn{
  margin:1rem;
  text-decoration: none;
  color:#184d47;
  font-size: 1.5rem;
}