*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:none;
  outline:none;
}

html{
  --main-text-color:#012941;
  --light-green:#CEEB9F;
  --dark-green:#05A48F;
  --light-grey:#F2F2F2;
  font-size: 10px;
}

a{
  text-decoration: none;
  color:var(--main-text-color);
}

/*  ------------------------  Header Component----------------------- */

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: var(--light-grey);
  justify-content: flex-start;
}

.logo{
  width: 12rem;
  height: 4.5rem;
  background-image:url('./Assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 4rem 0 2rem;

}
.navBtn{
  display: flex;
  height: 5rem;
  align-items: center;
  margin:1rem;
  text-decoration: none;
  color:var(--main-text-color);
  font-size: 1.5rem;
}

.navBtn:hover{
  border-bottom: 2px solid var(--dark-green);
  font-weight: bold;
}

/*  -------------------------- HomePage ------------------*/

.homePageMainGrid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width:97vw;
  height: 88vh;
  gap:1rem;
  margin:1.5rem auto;
}

.gridImg1{
  grid-area: 1 / 1 / span 2 / span 1;
  background: url('../src/Assets/green.jpg') center center/cover;
}

.gridImg2{
  grid-area: 1 / 2 / span 1 / span 1;
  background: url('../src/Assets/cake.jpg') center center/cover;
}

.gridImg3{
  grid-area: 1 / 3 / span 1 / span 1;
  background: url('../src/Assets/logo.png') no-repeat center/contain;
  background-color: white;
  border:7px solid #25D167;
}

.gridImg4{
  grid-area: 2 / 2 / span 1 / span 2;
  background: url('../src/Assets/ingrdiant.jpg') no-repeat center center/cover;
}

.gridImg5{
  grid-area: 1 / 4 / span 2 / span 1;
  background: url('../src/Assets/pancake.jpg') center center/cover;
  width:100%;
}

/*  -------------------------- Category Card ------------------*/

.categoryCard{
  cursor:pointer;
  margin:2rem;
  width:100%;
}

.categoryCardImg{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width:100%;
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categoryCardText{
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  line-height: 6rem;
  height: 6rem;
  padding: 0 1rem;
  opacity: 0.7;
  width:100%;
  transition-property: height;
  transition-duration: 1s;
}

.fa-chevron-up{
  font-size: 1.5rem;
  margin-left: 2rem;
}

.categoryCardTextGrid{
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 3rem;
  grid-row: wrap;
  list-style: none;
  background-color: white;
  opacity: 0.8;
}

.subCat:hover{
  color: var(--dark-green);
  cursor: pointer;
}

#breakfastImg .categoryCardImg{
  width:60rem;
  height: 50rem;
  background-image:url('./Assets/breakfast.jpeg') ;
}


/*  -------------------------- RecipesPage ------------------*/

.searchDiv{
  margin-bottom: 2rem;
  height: 15rem;
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 35%;
  height: 5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
}

::placeholder {
 opacity: 0.5;
}

.searchBtn{
  height: 5rem;
  width: 5rem;
  background-color:var(--dark-green);
  color:white;
}

.fa-search{
  cursor: pointer;
  font-size: 2rem;
}

.categoryGrid{
  margin:auto;
  width:80vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:2rem;
  
}

.searchStateBtnDiv{
  width:max-content;
  height: 65px;
  margin:auto;
}

.searchStateBtn{
  font-size: 2rem;
  background-color: transparent;
  margin:2rem;
  cursor: pointer;
}

.currentState{
  border-bottom: 2px solid var(--dark-green);
  font-weight: bold;
}

/*  -------------------------- searchResultCard Component ------------------*/

.searchResultCard{
  cursor: pointer;
  margin:2rem;
  width: 100%;
  height: 35rem;
}

.searchResultCardImg{
  cursor: pointer;
  width: 100%;
  height:30rem;
  max-height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.searchResultCardTitle{
  cursor: pointer;
  margin:1.5rem 0;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/*  -------------------------- RecipesList Component ------------------*/

.recipesGrid{
  display: grid;
  width: 80vw;
  margin: 5rem auto;
  gap:3rem;
  grid-template-columns: repeat(3,1fr);
}

/*  -------------------------- Recipe Component ------------------*/

.recipe{
  background-color:var(--light-grey);
  border-radius: 10px;
  padding:2rem;
  width:60vw;
  margin: 4rem auto;
}

.recipeImg{
  width:300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.recipeHero{
  display: flex;
  margin-top: 1rem;
  background-color: var(--light-green);
}

.recipeHeroText{
  background-color: white;
  margin:auto ;
  padding:3rem;
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeTitle{
  font-size: 2.5rem;
  text-align: center;
}

.recipeSummary{
  font-size: 1.5rem;
  text-align: center;
  margin:3rem 0;
}

.fa-stopwatch, .fa-utensils, .fa-envelope, .fa-whatsapp{
  font-size: 2rem;
  color:var(--dark-green);
  margin:0 1rem;
}

.fa-envelope,.fa-whatsapp{
  cursor: pointer;
}

.fa-envelope:hover,.fa-whatsapp:hover{
  color: var(--light-green);
}

.recipe span{
  font-size:1.5
}

.backLink{
  font-size: 1.5rem;
  padding:1rem;
  font-weight: bolder;
  cursor: pointer;
}

.backLink:hover{
  color: var(--dark-green);
}

.recipeActionBtns{
  display: flex;
  margin:1rem;
}

/*  -------------------------- Instruction Component ------------------*/

.insturctionsTitle{
  font-size: 2rem;
  margin: 1rem 0;
}

.recipeInstructions{
  width:70%;
  margin-right: 2rem;
}

.recipeIngredients{
  width:30%;
  height: fit-content;
  font-size: 1.5rem;
  padding: 0 2rem;
  border-radius: 5px;
  border:1px solid white;
  background-color: white;
}

.stepBtn{
  align-items: center;
  display: inline-block;
  font-size: 2rem;
  border-radius: 50%;
  height:3rem;
  width:3rem;
  text-align: center;
}

.instructionStep{
  margin:2rem ;
  font-size: 1.5rem;
}

.stepText{
  font-size: 1.5rem;
  margin:0 2rem ;
}

hr{
  height: 2px;
  background-color: var(--light-grey);
  margin: 1rem 0;
}

.ingredientsTitle{
  font-size: 2rem;
  margin:1rem 0;
}

.recipeMain{
  display:flex;
  flex-direction: row-reverse;
  
}

.recipeIngredients li{
  list-style: none;
}

.errMsg{
  margin:2rem;
  font-size: 1.5rem;
  color:rgb(197, 5, 5);
  width:fit-content;
  margin:auto;
}

.fa-exclamation-circle{
  margin:1rem;
}

.loader{
  background: url('../src/Assets/background.png') center center/cover;
  width:99vw;
  height: 80vh;
  text-align: center;
  font-size: 5rem;
}

/* --------------------------------------  Media Queries --------------------------------------*/

@media screen and (max-width:550px){
  .categoryGrid{
    margin:auto;
    width:90vw;
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
  }
.categoryCard{
  width:100%;
  margin:unset;
}

.searchInput{
  width:65%;
}

.recipesGrid {
  margin:auto;
  width: 80vw;
  grid-template-columns: 1fr;
}
.searchResultCard{
  margin: 0;
}

.recipe {
  padding: 2rem;
  width: 90vw;
  margin: 1rem auto;
}

.recipeHero{
  flex-direction: column;
}

.recipeImg {
  width: 250px;
  height: 200px;
  margin: 1rem auto;
}

.recipeHeroText {
  padding: 1rem;
  width: 100%;
}

.recipeSummary{
  display: none;
}

.recipeMain{
  flex-direction: column;
}

.ingredientsTitle{
  text-align: center;
  color:var(--dark-green);
  margin:1rem 0;
}
.recipeIngredients {
  width: unset;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.recipeInstructions {
  width: unset;
    background-color: white;
    margin: 1rem 0;
    padding: 0 2rem;
    border-radius: 5px;
}

.insturctionsTitle {
  text-align: center;
  color:var(--dark-green);
  font-size: 2rem;
  margin: 1rem 0;
}


.homePageMainGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  width:97vw;
  height: 88vh;
  gap:1rem;
  margin:1.5rem auto;
}

.gridImg1{
  grid-area: 2 / 1 / span 1 / span 1;
  background: url('../src/Assets/green.jpg') center center/cover;
}

.gridImg2{
  grid-area: 1 / 1 / span 2 / span 2;
  background: url('../src/Assets/cake.jpg') center center/cover;
}

.gridImg3{
  grid-area: 2 / 3 / span 1 / span 1;
  background: url('../src/Assets/logo.png') no-repeat center/contain;
  background-color: white;
  border:7px solid #25D167;
  z-index: 10;
  height: 80%;
  margin-top:15px;
}

.gridImg4{
  grid-area: 3 / 1 / span 2 / span 3;
  background: url('../src/Assets/ingrdiant.jpg') no-repeat center center/cover;
}

.gridImg5{
  grid-area: 1 / 3 / span 1 / span 1;
  background: url('../src/Assets/pancake.jpg') center center/cover;
  width:100%;
}
}